In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [120]:
df = pd.read_csv('movies.csv')

In [121]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [122]:
df2 = pd.read_csv('ratings.csv')

In [123]:
df2.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [124]:
df3 = pd.merge(df, df2, on = "movieId")

In [125]:
df3.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [126]:
df4 = pd.read_csv('links.csv')

In [127]:
df5 = pd.merge(df3, df4, on = "movieId")

In [128]:
df5.head()

,movieId,title,genres,userId,rating,timestamp,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,114709,862.0

In [129]:
df6 = pd.read_csv('tags.csv')

In [130]:
df_movies = pd.merge(df6, df5, on = "movieId")

In [131]:
df_movies.head()

,userId_x,movieId,tag,timestamp_x,title,genres,userId_y,rating,timestamp_y,imdbId,tmdbId
0,2,60756,funny,1445714994,Step Brothers (2008),Comedy,2,5.0,1445714980,838283,12133.0
1,2,60756,funny,1445714994,Step Brothers (2008),Comedy,18,3.0,1455749449,838283,12133.0
2,2,60756,funny,1445714994,Step Brothers (2008),Comedy,62,3.5,1528934376,838283,12133.0
3,2,60756,funny,1445714994,Step Brothers (2008),Comedy,68,2.5,1269123243,838283,12133.0
4,2,60756,funny,1445714994,Step Brothers (2008),Comedy,73,4.5,1464196221,838283,12133.0

In [132]:
from sklearn import preprocessing

In [133]:
le = preprocessing.LabelEncoder()

In [134]:
le.fit(df_movies['genres'])

LabelEncoder()

In [135]:
df_movies['genres'] = le.transform(df_movies['genres'])

In [136]:
df_movies = df_movies.drop(['title'], axis = 1)

In [137]:
df_movies = df_movies.drop(['tag'], axis = 1)

In [138]:
from sklearn.cluster import KMeans

In [139]:
X = np.array(df_movies)

In [140]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(X)

In [141]:
kmeans.cluster_centers_

array([[4.81292486e+02, 2.62475494e+03, 1.36221758e+09, 1.99483598e+02,
        3.02874030e+02, 3.95805799e+00, 1.02154519e+09, 1.29483610e+05,
        2.54228871e+03],
       [4.59783101e+02, 2.22816765e+04, 1.40794991e+09, 1.83729261e+02,
        3.16689609e+02, 3.97524473e+00, 1.41077854e+09, 3.96258758e+05,
        1.64021248e+04]])